{% extends "base.html" %}


{% block history %}
<div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ history.name }}</h5>
      <p class="card-text"><strong>ID: </strong> {{ history.id }}</p>
      <p class="card-text"><strong>Описание: </strong> {{ history.discription }}</p>
      <p class="card-text"><strong>Информация: </strong> {{ history.information }}</p>
      <p class="card-text"><strong>Цена: </strong> {{ history.coast }}</p>
      <p class="card-text"><strong>Имя клиента: </strong> {{ history.client_first_name }}</p>
      <p class="card-text"><strong>Фамилия клиента: </strong> {{ history.client_last_name }}</p>
      <p class="card-text"><strong>Телефон клиента: </strong> {{ history.client_phone }}</p>
      <p class="card-text"><strong>Имя менеджера: </strong> {{ history.user_first_name }}</p>
      <p class="card-text"><strong>Фамилия менеджера: </strong> {{ history.user_last_name }}</p>
      <p class="card-text"><strong>Телефон менеджера: </strong> {{ history.user_phone }}</p>
      <p class="card-text"><strong>Отдел менеджера: </strong> {{ history.user_otdel }}</p>
      <p class="card-text"><strong>Отдел менеджера: </strong> {{ history.created_at }}</p>
    </div>
  </div>
  <a href="{% url 'view_history' %}" class="btn btn-secondary">Назад</a>
  {% if user.is_superuser %}
    <a href="{% url 'delete_item' history.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'update_item' history.id %}" class="btn btn-success">Обновить</a>
  {% endif %}
{% endblock history %}