{% extends "base.html" %}


{% block history %}
<div class="container">
  <div class="row">


    <div class="col-9">
      <div class="col-md3">
        <div class="col-9">
          <div class="col-md3">
            {% for step_name, step_value in steps %}
            <a href="{% url 'change_item' pk=step_value %}" class="btn btn-primary">{{ step_name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card mx-auto w-75 text-center">
          <div class="card-body">
            <h5 class="card-title">{{ history.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ history.content }}</h6>
            <p class="card-text">{{ history.created_at | date:'d-m-Y H:m' }}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    
      <div class="col">
        {% for item in notes %}
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.content }}</p>
            <p class="card-text">{{ item.user.username }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>
</div>
{% endblock history %}